body {
  font-family: "source-sans-pro", "SourceSansPro-Light";
  font-weight: 300;
  padding: 0;
  margin: 0; }

.centered, header, nav ul, article, footer div {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

hr {
  max-width: 760px;
  margin: 0 auto;
  border: none;
  border-bottom: 1px dotted #5784cb;
  background-color: #FFF;
  color: #FFF;
  height: 1px; }

header {
  padding-top: 1px;
  position: relative; }
  header h1 {
    display: inline-block;
    padding-right: 20px; }
  header p {
    display: inline-block; }

header:before {
  content: url(adobe.gif);
  float: right;
  margin: -1px 20px 0 0; }
  header:before h1 {
    margin: 0; }

nav {
  background: #4d74b3 center top no-repeat;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4d74b3), to(#5784cb));
  background-image: -webkit-linear-gradient(top, #4d74b3, #5784cb);
  background-image: -moz-linear-gradient(top, #4d74b3, #5784cb);
  background-image: -o-linear-gradient(top, #4d74b3, #5784cb);
  background-image: -ms-linear-gradient(top, #4d74b3, #5784cb);
  background-image: linear-gradient(to bottom, #4d74b3, #5784cb);
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px; }
  nav ul {
    list-style: none; }
    nav ul li {
      font-family: "source-sans-pro", "SourceSansPro-Regular";
      font-weight: 400;
      display: inline-block;
      font-size: 1.5em;
      padding-right: 30px; }
      nav ul li a {
        color: #FFF; }

h1, h2 {
  font-family: "source-sans-pro", "SourceSansPro-Semibold";
  font-weight: 600; }

a {
  color: #4166B5;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

article {
  margin-top: 10px;
  margin-bottom: 30px; }
  article h1 {
    margin: 0; }
  article date {
    color: #AAA;
    font-size: 1.8em; }
  article .speaker {
    margin: 0;
    font-size: 1.3em; }

footer {
  background: #4d74b3 center top no-repeat;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4d74b3), to(#5784cb));
  background-image: -webkit-linear-gradient(top, #4d74b3, #5784cb);
  background-image: -moz-linear-gradient(top, #4d74b3, #5784cb);
  background-image: -o-linear-gradient(top, #4d74b3, #5784cb);
  background-image: -ms-linear-gradient(top, #4d74b3, #5784cb);
  background-image: linear-gradient(to bottom, #4d74b3, #5784cb);
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px; }
  footer div p {
    display: inline-block;
    margin-right: 70px; }
  footer div nav {
    width: auto;
    display: inline-block;
    background: none; }
    footer div nav ul {
      padding: 0; }

@media screen and (max-width: 480px) and (max-width: 800px) {
  nav ul {
    padding-left: 20px; } }
@media screen and (max-width: 480px) and (max-width: 480px) {
  nav ul {
    padding-left: 20px; }
    nav ul li {
      display: block; } }
